<%-include('includes/head.ejs')%>
    <!-- <style>
        *{
            box-sizing: border-box;
        }
        body {
            padding: 0;
            margin:0;
            font-family: Arial, Helvetica, sans-serif;
        }

        main {
            padding: 1rem;
          margin:auto
           

        }

        .main_header{
            width:100%;
            height:3.5rem;
            background-color: #00695c;
            padding:0 1.5rem
        }
        .main_header__nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

        }

        .main_header__item-list {
            list-style:none;
            margin:0;
            padding: 0;
            display: flex;
        }

        .main_header__item{
            margin: 0 1rem;
            padding: 0;
        }
        .main_header__item a {
            text-decoration: none;
            color: white
        }

        .main_header__item a:hover,
        .main_header__item a:active,
        .main_header__item a:active{
            color: #d8f72c;
        }
    </style> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%-include('includes/navigation.ejs')%>
    <!-- <header class="main_header">
        <nav class="main_header__nav">
            <ul class="main_header__item-list">
                <li class="main_header__item"><a href="/">Shop</a></li>
                <li  class="main_header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header> -->
    <!-- <header>
        <nav>
            <ul>
            <li><a href="/">shop</a></li>
            <li><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header> -->
    <main>
         <h1>404 error page</h1>
         <%-include('includes/end.ejs')%> 